.Logo {
    letter-spacing: 3px;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.Logo span:first-child {
    display: inline-block;
    color: rgb(223, 14, 153);
    transform: skew(-15deg);
    font-size: 40px;
}
.Logo span:nth-child(2) {
    color: orange;
    padding-right: 2px;
}
.Logo span:nth-child(3) {
    color: green;
    padding-right: 2px;
}
.Logo span:last-child {
    color: blue;
}


@media(max-width:1024px){
    .Logo {
        display: flex;
        margin-right: 20px;
        font-size: 1.2em;
    }
    .Logo span:first-child {
        font-size: 20px;
    }
}