.form {
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #322;
  }

  div.none form, div.none h1 {
    display: none;
  }

  .form form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .form label {
    font-size: 18px;
    flex-basis: 60%;
  }
  
  .form input {
    margin-left: 10px;
    margin-top: 15px;
    flex-basis: 60%;
    width: 50%;
    padding: 10px;
  }
  
  .form input[type='checkbox']{
    margin: 20px 0;
    text-align: center;
    flex-basis: 3%;
    width: 30px;
  }

  div.form-button-wrapper {
    flex-basis: 60%;
    display: flex;
    justify-content: space-between;
  }
  
  .form button {
    margin: 20px 0;
    flex-basis: 40%;
  }

  div.form form span {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: red;
  }
  div.form h4 {
    position: absolute;
    left: 50%;
    top: 60%;
    width: 100%;
    margin-top: 50px;
    transform: translate(-50%, 0);
    font-size: 50px;
    color: red;
  }
