.form {
    text-align: center;
    margin-top: 100px;
  }
  
  .form input {
    margin-left: 10px;
    margin-top: 15px;
  }
  
  .form input[type='checkbox']{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: -50px;
  }
  
  .form label {
    display: block;
  }
  
  .form button {
    margin: 20px;
  }
  
  .form span {
    color: red;
    font-size: 10px;
    margin-left: 10px;
  }