nav.nav {
    position: relative;
    font-size: 19px;
    margin: 0 auto;
    padding: 10px;
    height: 60px;
    background-color: #ddd;
}

.nav ul {
    /* width: 90vw; */
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    /* background-color: red; */
    padding-right: 100px;
}

.nav div.items-in-basket {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
    font-size: 25px;
    color: #433343;
    font-weight: bold;
}

.nav div.items-in-basket span {
    /* margin: 0 -20px; */
    color: red;
}
@media(max-width: 1024px) {
    .nav ul {
        flex-direction: column;
    }
}



