nav.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    font-size: 19px;
    padding: 10px;
    background-color: #ddd;
    z-index: 100;
}

.nav ul {
    /* width: 90vw; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style-type: none;
    /* background-color: red; */
    padding-right: 100px;
}

.nav div.items-in-basket {
    position: absolute;
    top: 25%;
    right: 10%;
    /* transform: translate(0, -50%); */
    font-size: 25px;
    color: #433343;
    font-weight: bold;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation: basketSpan .3s linear;
            animation: basketSpan .3s linear;
}

.nav div.items-in-basket span {
    color: red;
}

@-webkit-keyframes basketSpan {
    to {
        -webkit-transform: scale(2);
                transform: scale(2);
    }
}

@keyframes basketSpan {
    to {
        -webkit-transform: scale(2);
                transform: scale(2);
    }
}

@media(max-width: 1024px) {
    .nav ul {
        /* flex-direction: column; */
        font-size: 12px;
        
    }
}



