.form {
  position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 2px 2px 2px 2px #322;
            box-shadow: 2px 2px 2px 2px #322;
  }

  div.none form, div.none h1 {
    display: none;
  }

  .form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }

  .form label {
    font-size: 18px;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  
  .form input {
    margin-left: 10px;
    margin-top: 15px;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    width: 50%;
    padding: 10px;
  }
  
  .form input[type='checkbox']{
    margin: 20px 0;
    text-align: center;
    -ms-flex-preferred-size: 3%;
        flex-basis: 3%;
    width: 30px;
  }

  div.form-button-wrapper {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .form button {
    margin: 20px 0;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }

  div.form form span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px;
    color: red;
  }
  div.form h4 {
    position: absolute;
    left: 50%;
    top: 60%;
    width: 100%;
    margin-top: 50px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    font-size: 50px;
    color: red;
  }

  form div button a {
    display: block;
    width: 100%;
    background-color: red;
  }
