.offer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* height: calc(100vh - 60px); */
    width: 90vw;
    margin: 80px auto 100px auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.offer-slogan-wrapper {
    position: relative;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 4%;
    height: 80px;
    background-color: #322;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.offer-slogan-wrapper h2 {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    font-size: 40px;
    width: 100%;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
    -webkit-animation: changeSloganText 24s linear infinite both;
            animation: changeSloganText 24s linear infinite both;
}

.offer-slogan-wrapper h2:nth-child(2) {
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
}

.offer-slogan-wrapper h2:nth-child(3) {
    -webkit-animation-delay: 16s;
            animation-delay: 16s;
}

.single-offer-wrapper {
    position: relative;
    height: 350px;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;  
    -webkit-transition: .5s;  
    transition: .5s;
}

.single-offer-wrapper:hover {
    -webkit-box-shadow: 10px 10px 15px #322;
            box-shadow: 10px 10px 15px #322;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

.single-offer-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.offer-info {
    position: absolute;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    text-align: center;
}

.offer-info h2, .offer-info p {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    text-shadow: 1px 1px #322;
}

.offer-info h2 {
    text-transform: capitalize;
    font-size: 30px;
    padding: 0 20px;
    color: #332222;
    text-shadow: 2px 1px #fff;
}

.offer-info p {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}


.offer-info button:hover a {
    color: #322;
    font-weight: bold;
}

.offer-info button a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}

.offer-info div {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}


@-webkit-keyframes changeSloganText {
    0% {
        -webkit-transform: translate(100%, -50%);
                transform: translate(100%, -50%);
    }

    3% {
        -webkit-transform: translate(100%, -50%);
                transform: translate(100%, -50%);
    }

    6% {
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
    }

    30% {
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
    }

    33% {
        -webkit-transform: translate(-100%, -50%);
                transform: translate(-100%, -50%);
    }

    100% {
        -webkit-transform: translate(-100%, -50%);
                transform: translate(-100%, -50%);
    }
}


@keyframes changeSloganText {
    0% {
        -webkit-transform: translate(100%, -50%);
                transform: translate(100%, -50%);
    }

    3% {
        -webkit-transform: translate(100%, -50%);
                transform: translate(100%, -50%);
    }

    6% {
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
    }

    30% {
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
    }

    33% {
        -webkit-transform: translate(-100%, -50%);
                transform: translate(-100%, -50%);
    }

    100% {
        -webkit-transform: translate(-100%, -50%);
                transform: translate(-100%, -50%);
    }
}


@media(max-width: 1024px){
    .offer-wrapper {
        margin-top: 60px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 140vh;
    }
    .single-offer-wrapper:hover {
        -webkit-box-shadow: initial;
                box-shadow: initial;
        -webkit-transform: initial;
                transform: initial;
    }
}


@media  (max-width: 1024px) and (orientation: landscape){
    .offer-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        height: 80vh;
        width: 98vw;
    }

    .offer-slogan-wrapper {
        margin-top: -2%;
        height: 40px;
    }
    
    .offer-slogan-wrapper h2 {
        font-size: 18px;
    }

    
    .single-offer-wrapper {
        height: 220px;
        -ms-flex-preferred-size: 32%;
            flex-basis: 32%;
    }

    .offer-info h2 {
        font-size: 20px;
        text-shadow: 1px 1px #fff;
        padding: 0 10px;
    }

    .offer-info p {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 10px;
    }

    .offer-info button a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 11px;
    }

    .offer-info button {
        padding: 5px;
        font-size: initial;
        line-height: 11px;
    }

}