.courses-purchased-wrapper {
    padding-bottom: 50px;
}

.spinner-in-courses-purchased {
    margin-top: 200px;
}

.purchased-course-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #322;
    margin: 80px 0 0 50px;
    width: 45vw;
}

.empty-purchasedcourses-message-wrapper {
    display: flex;
    width: 100vw;
    justify-content: center;
}