.basket-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.basket-empty-message {
    position: relative;
    width: 75%;
    text-align: center;
    letter-spacing: 3px;
    color: #fff;
    background-color: #322;
    padding: 50px 0;
    font-size: 38px;
    margin-top: 70px;
    border-radius: 5px;
}

.basket-empty-message h5 {
    margin-top: 50px;
}

.logo-empty-basket-message {
    position: absolute;
    left: 5%;
    top: 0;
}

.basket-sent-message-wrapper {
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
    color: #fff;
    background-color: #322;
    padding: 20px 30px;
    font-size: 38px;
    margin-top: 70px;
    border-radius: 5px;
}

.basket-sent-message-wrapper div:nth-child(1) {
    align-self: center;
}

.basket-sent-message-wrapper div:nth-child(2) {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basket-sent-message-wrapper div:nth-child(2) p {
    font-size: 30px;
    padding: 20px;
}
.basket-sent-message-wrapper div:nth-child(2) span {
    font-size: 20px;
    padding: 10px;
}



.basket-form-wrapper {
    width: 75vw;
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    /* background-color: #ddd; */
    border: 1px solid #322;
}

.basket-form-wrapper > div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
    line-height: 28px;
    font-weight: bold;
}

.basket-form-wrapper> div:first-child {
    background-color: #322;
}

.basket-form-wrapper > div p:nth-child(1) {
    font-size: 28px;
    letter-spacing: 3px;
}

.basket-form {
    display: flex;
    flex-direction: column;
}

.single-course-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    /* border: solid 1px #322; */
    margin-top: 10px;
}

.single-course-wrapper:nth-of-type(odd) {
    background-color: rgb(170, 162, 162);
}
.single-course-wrapper:nth-of-type(even) {
    background-color: rgb(102, 94, 94);
}

.single-course-wrapper>div {
    flex-basis: 100%;
    text-align: center;
}

.single-course-wrapper .basket-button-wrapper {
    text-align: start;
}

.single-course-wrapper>div:first-of-type {
    padding: 10px;
    color: #322;
}

.accept {
    margin-top: 20px;
}

.accept label {
    color: initial;
    font-size: 17px;
    font-weight: bold;
    margin-left: 10px;
}

.accept input {
    width: 15px;
    height: 15px;
}




@media(max-width: 1024px) {
    
.basket-empty-message {
    padding: 40px 0;
    font-size: 15px;
}

.basket-empty-message h5 {
    margin-top: 30px;
}

.logo-empty-basket-message {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.logo-empty-basket-message span {
    margin: 0 auto;
}
}
