.orderinputs-wrapper {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.orderinputs-wrapper  input,
.orderinputs-wrapper  textarea {
      padding: 5px;
      font-size: 16px;
      margin: 10px;
      border: 1px solid #322;
}

.orderinputs-wrapper > input {
    flex-basis: 30%;
}

.input-invalid {
    border: 3px solid red !important;
    background-color: rgb(241, 157, 147) !important;
}

.orderinputs-wrapper textarea {
    flex-basis: 100%;
}

.basket-form-wrapper .basketform-button-wrapper {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.basket-form-wrapper .basketform-button-wrapper button {
    text-transform: capitalize;
}

.workdays-wrapper {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.workdays-wrapper h3 {
    flex-basis: 100%;
    padding: 5px;
}

.day-time-wrapper:not(.accept) {
    flex-basis: 45%;
    color: #fff;
    margin: 5px auto;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.workdays-wrapper .workdays-checkbox-wrapper {
    flex-basis: 35%;
    background-color: rgb(85, 66, 66);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 10px;
    text-align: start;
    display: flex;
    align-items: center;
    transition: .7s;
} 
.workdays-time-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.workdays-wrapper .workdays-checkbox-wrapper:hover {
    background-color: #322;
    transform: translateX(10px);
} 


.workdays-time-wrapper input {
    flex-grow: 1;
}


.workdays-wrapper .workdays-time-wrapper span {
    color: black;
    font-weight: bold;
    flex-basis: 20%;
    text-align: center;
}

.workdays-wrapper .workdays-checkbox-wrapper label {
    text-transform: capitalize;
    width: 100%;
    letter-spacing: 2px;
    margin-left: 10px;
}

@media (max-width: 1024px) {
    .orderinputs-wrapper {
        justify-content: space-around;
    }
    
    .orderinputs-wrapper  input,
    .orderinputs-wrapper  textarea {
          font-size: 12px;
          margin: 5px 0;
    }
    
    .orderinputs-wrapper > input {
        flex-basis: 95%;
    }
    
    .orderinputs-wrapper textarea {
        flex-basis: 95%;
        height: 60px;
    }
    
    .basket-form-wrapper .basketform-button-wrapper {
        flex-basis: 100%;
        display: flex;
        justify-content: space-around;
        margin: 10px;
    }
    
    .day-time-wrapper:not(.accept) {
        flex-basis: 95%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .workdays-wrapper h3 {
        font-size: 14px;
    }
    .workdays-wrapper .workdays-checkbox-wrapper {
        flex-basis: 42%;
    }

    .workdays-time-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    .workdays-wrapper .workdays-time-wrapper span {
        font-size: 11px;
    }
    
    .workdays-wrapper .workdays-checkbox-wrapper label {
        font-size: 12px;
        padding: 2px 0;
    }
}


@media (max-width: 1024px) and (orientation: landscape) {
    .orderinputs-wrapper > input {
        flex-basis: 30%;
    }
    
    .orderinputs-wrapper textarea {
        flex-basis: 97%;
        height: 60px;
    }
    .day-time-wrapper:not(.accept) {
        flex-basis: 90%;
    }
    .workdays-time-wrapper {
        flex-direction: row;
    }
}