.home {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #322;
    font-family: 'Roboto Mono', monospace;
}

.span-wrapper {
    position: absolute;
    top: 30%;
    left: 30%;
}

.test span {
    margin-left: 64%;
}

.home .text, .home .ok {
    font-size: 80px;
    color: #fff;
}

.home .ok {
    font-size: 70px;
    text-transform: lowercase;
    line-height: 70px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.home .ok span:first-child {
    display: inline-block;
    color: rgb(223, 14, 153);
    transform: skew(-25deg);
    padding-right: 7px; 
    
    font-size: 90px;
    text-transform: uppercase;
    /* animation: logoScale 1s linear; */
}
.home .ok span:nth-child(2) {
    display: inline-block;
    color: orange;
    padding-right: 7px; 
    animation: logoScale 1s linear;
}
.home .ok span:nth-child(3) {
    display: inline-block;
    color: green;
    padding-right: 7px; 
    animation: logoScale 1s linear;
}
.home .ok span:last-child {
    display: inline-block;
    color: blue;
    padding-right: 7px; 
    animation: logoScale 1s linear;
}

.home .goodDay {
    font-size: 30px;
    color: #fff;
    letter-spacing: 3px;
}

@keyframes logoScale {
    0% {
        transform: scale(0);
    }
    24% {
        transform: scale(1.2);
    }
    25% {
        transform: scale(1.35);
    }
    50% {
        transform: scale(1.65);
    }
    75% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 1024px) {   
    .span-wrapper {
        width: 100%;
        left: 50%;
        transform: translate(-45%, 0);
    }
    
    .test span {
        margin-left: 45%;
    }
    
    .home .text, .home .ok {
        font-size: 40px;
    }
    
    .home .ok {
        font-size: 40px;
        line-height: 40px;
    }
    
    .home .ok span:first-child {
        font-size: 50px;
    }
    
    .home .goodDay {
        font-size: 20px;
    }
}