.home {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #322;
    font-family: 'Roboto Mono', monospace;
}

.span-wrapper {
    position: absolute;
    top: 30%;
    left: 30%;
}

.good-day-wrapper span {
    margin-left: 64%;
}

.home .text, .home .ok {
    font-size: 80px;
    color: #fff;
}

.home .ok {
    font-size: 70px;
    text-transform: lowercase;
    line-height: 70px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.home .ok span:first-child {
    display: inline-block;
    color: rgb(223, 14, 153);
    -webkit-transform: skew(-25deg);
            transform: skew(-25deg);
    padding-right: 7px; 
    
    font-size: 90px;
    text-transform: uppercase;
    /* animation: logoScale 1s linear; */
}
.home .ok span:nth-child(2) {
    display: inline-block;
    color: orange;
    padding-right: 7px; 
    -webkit-animation: logoScale 1s linear; 
            animation: logoScale 1s linear;
}
.home .ok span:nth-child(3) {
    display: inline-block;
    color: green;
    padding-right: 7px; 
    -webkit-animation: logoScale 1s linear; 
            animation: logoScale 1s linear;
}
.home .ok span:last-child {
    display: inline-block;
    color: blue;
    padding-right: 7px; 
    -webkit-animation: logoScale 1s linear; 
            animation: logoScale 1s linear;
}

.home .goodDay {
    font-size: 30px;
    color: #fff;
    letter-spacing: 3px;
}

@-webkit-keyframes logoScale {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    24% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }
    25% {
        -webkit-transform: scale(1.35);
                transform: scale(1.35);
    }
    50% {
        -webkit-transform: scale(1.65);
                transform: scale(1.65);
    }
    75% {
        -webkit-transform: scale(1.25);
                transform: scale(1.25);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes logoScale {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    24% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }
    25% {
        -webkit-transform: scale(1.35);
                transform: scale(1.35);
    }
    50% {
        -webkit-transform: scale(1.65);
                transform: scale(1.65);
    }
    75% {
        -webkit-transform: scale(1.25);
                transform: scale(1.25);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@media (max-width: 1024px) {   
    .span-wrapper {
        width: 100%;
        /* left: 50%; */
        -webkit-transform: translate(-24%, 0);
                transform: translate(-24%, 0);
    }
    
    .good-day-wrapper span {
        margin-left: 37%;
    }
    
    .home .text, .home .ok {
        font-size: 30px;
    }
    
    .home .ok {
        font-size: 35px;
        line-height: 40px;
    }
    
    .home .ok span:first-child {
        font-size: 50px;
    }
    
    .home .goodDay {
        font-size: 20px;
    }
}

@media  (max-width: 1024px) and (orientation: landscape){
    .span-wrapper {
        width: 100%;
        /* left: 50%; */
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    
    .good-day-wrapper span {
        margin-left: 32%;
    }
    
    .home .text, .home .ok {
        font-size: 40px;
    }
    
    .home .ok {
        font-size: 40px;
        line-height: 40px;
    }
}