.banner-wrapper {
    width: 100%;
}
.globe-wrapper {
    position: relative;
    text-align: center;
    font-size: 300px;
    margin-top: 200px;
    height: 200px;
    border-bottom: 3px solid black;
}

.globe-wrapper i {
    color: lightblue;
    -webkit-animation: rotate 12s linear infinite;
            animation: rotate 12s linear infinite;
}

.animation-wrapper {
    position: absolute;
    top: -61.3%;
    left: 50%;
    -webkit-transform: translate(-50%,0) rotateY(180deg);
            transform: translate(-50%,0) rotateY(180deg);
    height: 137px;
    width: 115px;
    background-image: url('../../images/banner/boy.png');
    -webkit-animation: walk 1s steps(8) infinite;
            animation: walk 1s steps(8) infinite;
}

@-webkit-keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@-webkit-keyframes walk {
    to {
        background-position: 920px 0;
    }
}

@keyframes walk {
    to {
        background-position: 920px 0;
    }
}

@-webkit-keyframes move {
    100% {
        right: calc(100% - 115px);
    }
}

@keyframes move {
    100% {
        right: calc(100% - 115px);
    }
}

@-webkit-keyframes turn {
    0% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
    }

    50% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
    }

    50.001% {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }

    100% {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
}

@keyframes turn {
    0% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
    }

    50% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
    }

    50.001% {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }

    100% {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
}
