.auth-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100vh;
    background-image: url('../../images/auth/pencils.jpg');
    background-size: cover;
    background-position: center;
}

.form {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    height: 50%;
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
    -webkit-transition: .8s;  
    transition: .8s;     
}

.form:hover {
    background-color: rgb(143, 139, 139);
    -webkit-box-shadow: 2px 2px 2px 2px #322;
    box-shadow: 1px 3px 3px #322;  
    -webkit-transform: scale(1.1);  
            transform: scale(1.1); 
    border-radius: 5px;
}

.form h3 {
    color: #322;
    font-size: 20px;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    font-family: 'Courier New', Courier, monospace;
    -webkit-transition: .5s;
    transition: .5s;
}

.form:hover h3 {
    color: #fff;    
    font-weight: 100;
}

.form span {
    font-size: 19px;
    color: red;
    font-weight: bold;
    opacity: 0;
    -webkit-animation: error-message 2s infinite linear;
            animation: error-message 2s infinite linear;
}
  
.form form {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
}
    
.form input {
    margin-left: 10px;
    margin-top: 15px;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    width: 80%;
    padding: 10px;
    border: 1px solid #322222;
}

.form button {
    margin-top: 30px;
}
    
.form button a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.password-reset {
    color: #322;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.form button:hover a {
    color: #322222;
}
  

@-webkit-keyframes error-message {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
  

@keyframes error-message {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@media(max-width: 1024px) {
    .auth-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .form {
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
        margin: 0 10px;
        padding: 0; 
    }
    .form:hover {
        background-color: initial;
        -webkit-box-shadow: initial;
        box-shadow: initial;  
        -webkit-transform: initial;  
                transform: initial; 
        border-radius: initial;
    }
    .form h3 {
        font-size: 15px;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
    }
    .form:hover h3 {
        color: initial;    
        font-weight: initial;
    }
    
    .form span {
        font-size: 10px;
    }
        
    .form input {
        margin: 2px;
        width: 90%;
        height: 25px;
        padding: 5px;
    }
    
    .form button {
        margin-top: 10px;
        padding: 5px 8px;
        font-size: 17px;
    }
        
    .form button a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: #fff;
    }
}

@media  (max-width: 1024px) and (orientation: landscape){
.form {
    -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
    height: 50%;
    margin: 0 10px;
    padding: 0; 
    /* background-color: red; */
}
.form h3 {
    font-size: 15px;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
}

.form span {
    font-size: 10px;
}
    
.form input {
    margin: 2px;
    width: 90%;
    height: 25px;
    padding: 5px;
}

.form button {
    margin-top: 10px;
    padding: 5px 8px;
    font-size: 17px;
}
    
.form button a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff;
}
}