.auth-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background-image: url('../../images/auth/plush-design-studio-l3N9Q27zULw-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.form {
    flex-basis: 30%;
    height: 50%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    transition: .8s;     
}

.form:hover {
    background-color: rgb(143, 139, 139);
    -webkit-box-shadow: 2px 2px 2px 2px #322;
    box-shadow: 1px 3px 3px #322;  
    transform: scale(1.1); 
    border-radius: 5px;
}

.form h3 {
    /* padding: 3px 15px; */
    color: #322;
    font-size: 20px;
    flex-basis: 20%;
    font-family: 'Courier New', Courier, monospace;
    transition: .5s;
}

.form:hover h3 {
    color: #fff;    
    font-weight: 100;
}

.form span {
    font-size: 19px;
    color: red;
    font-weight: bold;
    opacity: 0;
    animation: error-message 2s infinite linear;
}
  
.form form {
    flex-grow: 1;
    text-align: center;
}
    
.form input {
    margin-left: 10px;
    margin-top: 15px;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    width: 80%;
    padding: 10px;
    border: 1px solid #322222;
}

.form button {
    margin-top: 30px;
}
    
.form button a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.password-reset {
    color: #322;
    /* font-size: 20px; */
    flex-grow: 1;
}

.form button:hover a {
    color: #322222;
}
  

@keyframes error-message {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@media(max-width: 1024px) {
    .auth-wrapper {
        flex-direction: column;
        justify-content: space-around;
    }
    .form {
        flex-basis: 30%;
        margin: 0 10px;
        padding: 0; 
    }
    .form h3 {
        font-size: 15px;
        flex-basis: 20%;
    }
    
    .form span {
        font-size: 10px;
    }
        
    .form input {
        margin: 2px;
        width: 90%;
        height: 25px;
        padding: 5px;
    }
    
    .form button {
        margin-top: 10px;
        padding: 5px 8px;
        font-size: 17px;
    }
        
    .form button a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: #fff;
    }
}

@media  (max-width: 1024px) and (orientation: landscape){
.form {
    flex-basis: 42%;
    height: 50%;
    margin: 0 10px;
    padding: 0; 
    /* background-color: red; */
}
.form h3 {
    font-size: 15px;
    flex-basis: 20%;
}

.form span {
    font-size: 10px;
}
    
.form input {
    margin: 2px;
    width: 90%;
    height: 25px;
    padding: 5px;
}

.form button {
    margin-top: 10px;
    padding: 5px 8px;
    font-size: 17px;
}
    
.form button a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff;
}
}