.nav-items-wrapper ul {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    width: 100%;
}
.nav-items-wrapper ul>li{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-items-wrapper ul>li a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    display: block;
    margin: 0;
    color: #661F3E;
    overflow: hidden;
    padding-top: 7px;
    cursor: pointer;
}


.nav ul a {
    text-decoration: none;
}

.nav a.active {
    font-weight: bold;
    font-size: 18px;
    color: #661F3E;
}

.nav a.user-email {
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
}
.nav a.user-email::before {
    content: 'dzień dobry';
    font-size: 13px;
}

nav ul>li a::after {
    position: absolute;
    top: 0%;
    left: -112%;
    content: '';
    width: 100%;
    height: 5px;
    background-color: #661F3E;
    -webkit-transition: .3s linear;
    transition: .3s linear;
}

nav ul>li:hover a::after {
    left: 0;
}


@media(max-width: 1024px) {

    /* .nav-items-wrapper ul {
        flex-direction: column;
    } */

    nav ul>li a::after {
        width: 0;
    }
    .nav ul>li a {
       -webkit-transition: .4s linear;
       transition: .4s linear;
    }
    .nav a.active {
        font-size: 12px;
     }
}

@media  (max-width: 1024px) and (orientation: landscape){
    .nav-items-wrapper ul>li a {
        font-size: 12px;
    }

    .nav a.active {
        font-size: 15px;
    }
    .nav a.user-email {
        font-size: 12px;
    }
    .nav a.user-email::before {
        font-size: 9px;
    }
}