.nav-items-wrapper ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%;
    width: 100%;
    /* height: 100%; */
}
.nav-items-wrapper ul>li{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.nav-items-wrapper ul>li a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    display: block;
    margin: 0;
    color: #322;
    overflow: hidden;
    padding-top: 7px;
    cursor: pointer;
}


.nav ul a {
    text-decoration: none;
}

.nav ul a.active {
    color: rgb(42, 197, 3);
    font-weight: bold;
    font-size: 17px;
}

.nav a.user-email {
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
}
.nav a.user-email::before {
    content: 'dzień dobry';
    font-size: 13px;
}

nav ul>li a::after {
    position: absolute;
    top: 0%;
    left: -112%;
    content: '';
    width: 100%;
    height: 5px;
    background-color: #322;
    -webkit-transition: .3s linear;
    transition: .3s linear;
}

.nav ul>li a.active::after {
    background-color: rgb(42, 197, 3);
}

nav ul>li:hover a::after {
    left: 0;
}


@media(max-width: 1024px) {

    .nav-items-wrapper ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        flex-basis: 100%;
        width: 100%;
    }
    
    
    .nav-items-wrapper ul>li a {
        font-size: 13px;
        color: #fff;
    }
    
    .nav a.user-email {
        text-align: start;
        font-size: 13px;
    }
    .nav a.user-email::before {
        content: 'dzień dobry';
        font-size: 10px;
    }
    
    nav ul>li a::after {
        display: none;
    }
   
    .nav ul a.active {
        font-size: 12px;
        color: rgb(42, 197, 3);
        background-color: #fff;
        padding: 1px 6px;
        font-weight: bold;
        border-radius: 5px;
        transform: translateX(10px);
        font-weight: 100;
     }
}

@media  (max-width: 1024px) and (orientation: landscape){
    .nav-items-wrapper ul>li a {
        font-size: 12px;
    }

    .nav a.active {
        font-size: 12px;
    }
    .nav a.user-email {
        font-size: 12px;
    }
    .nav a.user-email::before {
        font-size: 9px;
    }
}